body
{
    color:black;
    text-align: center;
    font-family:  "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;

}

#container
{

    width: 70%;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    padding: 1cm;
    text-align: left;
    border: 1px solid blue;
    margin: 0 auto;
}
#cabecera 
{   
    color:white;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    font-size: 50px;
    font-weight: bold;
    background-color: rgb(82, 82, 236) ;
    border: 1px solid gray;
    padding: 1px;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container h1
{
    font-size: 20px;   
}

#post
{
    padding: 1em;
}

#footer 
{
background-color: gray;
color: white; 
text-align: center;
 padding: 5px;
}